a{
    text-decoration: none;
    color: white;
}

a:hover,a:active{
    color: lightgray;
}

.navigation-items{
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-caption{
    display: inline-block;
    padding-left: 6px;
}

.github{
    padding-left: 6px;
    cursor: pointer;
}