<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="ontoggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>                
    </div>
    <div>
        <a routerLink="/">
            <span class="header-caption">Cheat Sheet</span>
        </a>
    </div>
                 
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li><a routerLink="/">Home</a></li>
        </ul>                
    </div>
</mat-toolbar>