<!-- <div class="markdown-post">
    <ng-container *ngIf="post$ | async as post">
      <div id="markdown-post" markdown [src]="post"></div>
    </ng-container>
  </div> -->

  <!-- <div class="container">
    <div class="markdown-post">
      <ng-container *ngIf="post$ | async as post">
        <div id="markdown-post" markdown [src]="post"></div>
      </ng-container>
    </div>
  </div> -->

  <div class="markdown-post">
  <ng-container *ngIf="post$ | async as post">
    <div id="markdown-post" markdown [src]="post"></div>
  </ng-container>
</div>